html{
	font-size: 18px;
}

body{
	font-family: 'Ubuntu', sans-serif;
}

/* Title Section */

#title{
	background: #46b3e6;
}


.container-fluid{
	padding: 5% 10%;
 	overflow: hidden;
}

/* Navigation Bar */

.navbar-brand{
	font-size: 2rem;
	font-weight: 900;
}


h1{
	color: #fff;
	font-family: 'Montserrat',sans-serif;
	line-height: 1.5;
	font-weight: 900;
	font-size: 3rem;
	margin-bottom: 30px;
}

h3 {
	font-family: 'Montserrat',sans-serif;
	font-weight: 600;
}

p{
	color: #8f8f8f;
}

.fas{
	font-size: 3rem;
	color: #46b3e6;
	margin-bottom: 5%;
}
	
.fas:hover{
	color: #3090d3;

}
.imgdog{
	margin-top: 30px;
	transform: rotate(20deg);
}

.features-box{
	text-align: center;
	padding: 5%;
}

#testimonials{
	text-align: center;
	background: #46b3e6;
	color: #fff;

}

.carousel{
	padding: 7% 10%;
}

#testimonials h2{
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	line-height: 1.5;
	font-size: 3rem;	
}

#testimonials img{
	width: 100px;
	margin: 20px;
	border-radius: 100%;
}

#press{
	background: #46b3e6;
	text-align: center;
	padding-bottom: 5%;
}

#press img{
	width: 15%;
	margin: 20px 50px 20px;
}

#pricing{
	padding: 7% 10%;
}

#pricing h2{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	line-height: 1.5;
}

@media (min-width: 1000px) {
	#title{
		max-height: 770px;
		overflow: hidden;
	}
}

@media (max-width: 1000px) {
	.imgdog{
		display: none;
	}

	#title{
		margin-bottom: 30px;
	}

	#testimonials h2{
		font-size: 2.5rem;
	}

	#press img{
		width: 30%;
	}
	
}

@media (max-width: 600px){
	html{
		font-size: 16px;
	}

	h1{
		font-size: 2.5rem;
	}


	#press img{
		width: 30%;
	}

	#testimonials h2{
		font-size: 2rem;
	}

	h3{
		font-size: 1.5rem;
	}

	#title{
		margin-bottom: 30px;
	}
}
